html, body {
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #333;
}

body *:not(.clipboard-floating-btn) {
    pointer-events: all; /* Ensures other elements remain clickable */
}
